@import url(css/base.css);

body {
    margin-top: 40px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: var(--espaco-xg) var(--espaco-m);
    border-radius: var(--raio-borda);
}

.card {
    width: 100%;
    display: table-cell;
    max-width: calc(100% / 2 - 16px / 2);
    height: 100px;
    border-radius: var(--raio-borda);
    padding: 1rem;
    text-align: center;
    vertical-align: center;
}

@media screen and (min-width: 599px) {
    .card {
        max-width: calc(100% / 3 - 1rem / 3 * 2);
    }
}

@media screen and (min-width: 899px) {
    .card {
        max-width: calc(100% / 5 - 1rem / 5 * 4);
    }
}

.bg-azul-correios {
    background-color: var(--primario20);
    color: var(--primario100);
}

.alto-contraste .bg-azul-correios {
    background-color: var(--cor-ac-preto);
    color: var(--cor-ac-branco);
}

@media screen and (prefers-color-scheme: dark) {
    .bg-azul-correios {
        background-color: var(--cor-superficie-var);
        color: var(--cor-sobre-superficie-var);
    }
}

section.container {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    border-bottom: 1px solid var(--cor-secundaria);
}

.linha {
    display: block;
    width: 100%;
    margin: var(--espaco-xg) 0;
    border-bottom: 1px solid var(--cor-linha);
}

figure {
    width: 100%;
    max-width: 400px;
    margin-left: 0;
}

figure > img {
    width: 100%;
    border-radius: var(--raio-borda);
    overflow: hidden;
}

/* Barra de Acessibilidade */
#barra-acessibilidade {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0 1rem;
}
