body {
    padding: 2rem;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: var(--espaco-g);
}

.card {
    display: block;
    padding: var(--espaco-m);
    max-width: 300px;
    border-radius: var(--raio-borda);
}

.bg-azul-correios {
    background-color: var(--primario20);
    color: var(--primario100);
    padding: 0.5rem;
}
